
body{
    margin: 0;
}

#hero{
    position: absolute;
    border-right: 22px solid transparent;
    border-bottom: 50px solid #D5CBC2;
    border-left: 22px solid transparent;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.scoreStyle{
    
    /* display: flex;
    justify-content: center;
    align-items: center;*/
    position: fixed;
    color: white;
}

.retry{
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    color: black;
    border-radius: 20em;
    display: none;
    width: 10em;
    height: 5em;
    top: 60%;
    left: 45%;
    position: absolute;
    background-color: #4C493C;
    color: black;
}

